body {
    background-color: black;
    color: white;
    
}
header {
    background-image: url(/Session6/Images/banner.jpg);
    background-size:cover;
    background-position: center;
    height:60vh;
    width:100%;
}
h1 {
    padding-top: 30vh;
    font-size:300%;
}

li {
    display:inline;
    padding-right: 30px;
}
.center-text {
    text-align: center;
}
.div1 {
    width:600px;
    height:200px;
    margin:auto;
        }
figure {
    width:600px;
    height:200px;
    margin:auto;
   }
.float-left {
    float:left;
    margin-left: 50px;
}
.float-right {
    float:right;
    width: 600px;
    height:200px;
    margin-left: 0;
}
 .image-resize {
    width: 600px;
    height:200px;
    float:left;
    object-fit:fill;
   } 
  section {
    clear: both;
    padding-top: 10vh;
  }
/* this was meant to align both divs but not sure if it works */
/* .align-divs {
    display:inline;
}  */