*{
    box-sizing: border-box;
}

body{
    font-family: Inconsolata, monospace;
    background-image:linear-gradient(45deg, peru,darkorange, orange);
    background-repeat: no-repeat;
    background-position:center;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

 .container h1 {
    font-size: 8rem;

}
.container h2 {
    font-size: 5rem;
    position: relative;
    width:max-content;
}

.container h3 {
    font-size:3rem;
}
.container a {
    font-size:3rem ;
    text-decoration: none;
    color: #fff;

}
.container .below{
    padding-right: 10rem;
}

.container h2::before,
.container h2::after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
.container h2::before {
    background: linear-gradient(45deg, peru,darkorange, orange);
    color:green;
    animation:typewriter 4s steps(19) forwards;
}

.container h2::after{
    width: 0.1em;
    background:black;
    animation:typewriter 4s steps(19) forwards,
    blink 500ms steps(24) infinite;
}

@keyframes  typewriter {
    to{
        left:100%
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}