*{
    box-sizing: border-box;
}

:root {
    --bg-color: linear-gradient(45deg, peru,darkorange, orange);
    --typewriterSpeed: 6s;
    --typewriterCharacters: 18;
}


body{
    font-family: Inconsolata, monospace;
    background-image:var(--bg-color);
    background-repeat: no-repeat;
    background-position:center;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

 .container h1 {
    font-size: 8rem;
    opacity:0;
    transform:translateY(3rem);
    animation:fadeInUp 2s ease forwards;

}
.container h2 {
    font-size: 5rem;
    position: relative;
    width:max-content;
}

.container h3 {
    font-size:3rem;
    opacity:0;
    transform:translateX(100);
    animation:fadeInUp 6s ease  8s forwards
}
.container a {
    font-size:3rem ;
    text-decoration: none;
    color: #fff;

}
.container .below{
    padding-right: 10rem;
    opacity:0;
    animation:fadeInUp 8s ease  9s forwards;
}

.container .above{
   
    opacity:0;
    animation:fadeInUp 8s ease  9s forwards;
}

.container h2::before,
.container h2::after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
.container h2::before {
    background: var(--bg-color);
    color:green;
    animation:typewriter var(--typewriterSpeed) steps(var( --typewriterCharacters)) 1s forwards;
}

.container h2::after{
    width: 0.1em;
    background:black;
    animation:typewriter var(--typewriterSpeed)  steps(var( --typewriterCharacters)) 1s forwards,
    blink 500ms steps(24) infinite;
}

@keyframes  typewriter {
    to{
        left:100%
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadeInUp {
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.container .below:hover {
    color:red;
}
.container .above:hover {
    color:greenyellow;
}